[alias]
    fpush = push --force-with-lease
[branch]
    sort = -committerdate
[color]
    ui = auto
[color "branch"]
    current = cyan bold reverse
    local = white
    plain =
    remote = cyan
[color "diff"]
    commit =
    func = cyan
    plain =
    whitespace = magenta reverse
    meta = white
    frag = cyan bold reverse
    old = red
    new = green
[color "grep"]
    context =
    filename =
    function =
    linenumber = white
    match =
    selected =
    separator =
[color "interactive"]
    error =
    header =
    help =
    prompt =
[color "status"]
    added = green
    changed = yellow
    header =
    localBranch =
    nobranch =
    remoteBranch = cyan bold
    unmerged = magenta bold reverse
    untracked = red
    updated = green bold
[column]
    ui = always
[commit]
    cleanup = whitespace
    gpgsign = true
[core]
    autocrlf = input
    eol = lf
    fsmonitor = true
    longpaths = true
    pager = delta
    progress = true
[delta]
    light = false
    navigate = true
    syntax-theme = Dracula
[diff]
    algorithm = histogram
    colorMoved = default
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[fetch]
    fsckObjects = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    process = git-lfs filter-process
    required = true
    smudge = git-lfs smudge -- %f
[gitbutler]
    aiModelProvider = openai
[help]
    autocorrect = 10
[http]
    postBuffer = 2147483648
[include]
    path = ~/.gitconfig.local
[init]
    defaultBranch = master
[interactive]
    diffFilter = delta --color-only
[merge]
  conflictStyle = zdiff3
[pager]
    difftool = true
[pull]
    rebase = false
[push]
    autoSetupRemote = true
    default = current
    verbose = true
[receive]
    fsckObjects = true
[rerere]
    autoUpdate = true
    enabled = true
[tag]
    forceSignAnnotated = true
    sort = taggerdate
[transfer]
    fsckObjects = true
[url "https://github.com/dracula/"]
    insteadOf = dracula://
[user]
    name = EDM115
